// Specific CSS for your home-page
.background {
  background-image: url("https://res.cloudinary.com/dg3ubhfyk/image/upload/v1669977727/Rectangle_17_1_d9lgss.png");
  background-size:contain;
  background-repeat:no-repeat;
  background-attachment:fixed;
  height:100%;
}

.carousel-inner {
  margin-left: 43px;
  margin-top:30px;
}

.boutons-home  {
  text-align: center;
  margin-top:30px;
}

#titre-home {
  color:white;
  text-align: center;
}

// .btn-ghost {
//   display: list-item;
// }
