// Specific CSS for your home-page

.home-btn {
  // revu le 11/01/23 par AA
  border-radius: 10px;
  background-color: white;
  color: #5f202b;
}

.home-btn:hover {
  // revu le 11/01/23 par AA
  background-color: #5f202b;
  color: white
}


@media(min-width: 769px) {
  .upperhome {
    // revu le 11/01/23 par AA
    background-image: url("imagehome.png");
    width: 100%;
    height: 600px;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-top: 30px;
  }
}

@media(max-width: 768px) {
  .upperhome {
    // revu le 11/01/23 par AA
    background-image: url("imagehome.png");
    width: 100%;
    height: 250px;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-top: 80px;
  }
}

.carousel-inner {
  margin-left: 43px;
  margin-top:30px;
}

// commenté le 11/01/23 par AA
// .banner {
//   .liens_home {
//     display: inline-block;
//     .btn_home {
//       margin: 10px;
//       padding: 30px;
//       background-color: #1e5052;
//       color: white;
//       border-color: #1e5052;
//       border-radius: 5px;
//     }
//   }
// }

#titre-home {
  color:white;
  text-align: center;
}
