// Import page-specific CSS files here.
@import "home";


.background-index {
  background-image: url("https://res.cloudinary.com/dg3ubhfyk/image/upload/v1669977727/Rectangle_17_1_d9lgss.png");
  background-size:contain;
  background-repeat:no-repeat;
  background-attachment:fixed;
  height:100%;
}

.titre-vin-carte-accord {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.star {
  text-align: center;
}

.infos-vin-index {
  display: flex;
  align-items: center;
}

.descriptif-match-search {
  position: relative;
  background: transparent;
  text-align: center;
  border: solid 1px;
  width: 300px;
  top: 0px;
  left: -20px;
  }

  .note-accord{
    position: relative;
    top: -367px;
    left: 200px;
  }
