<div class="container_home ">
      <div class="upperhome mb-4">
      </div>

      <div class="slogan px-4">
        <h1>Monsommelier</h1>
        <p></p>
          <h5> Testez et partagez des accords entre mets et vins pour devenir un entre-mets-eur étoilé !</h5>
        <p></p>
        <%= link_to "Inscris-toi !", new_user_registration_path, class:"btn btn-flat" %>
      </div>

      <div class="bottomhome">
      </div>
</div>
