<div style="background-color: #5f202b">
  <div class="banner">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="upperhome px-3">
        </div>
      </div>
      <div class="col-12 col-md-6 banner-content text-center p-5">
        <h1>L'entre-mets-eur</h1>
        <p>Testez et partagez des accords entre mets et vins pour devenir un entre-mets-eur étoilé !</p>
        <div>
          <%= link_to "Inscris-toi !", new_user_registration_path, class:"btn home-btn" %>
          <%= link_to "Connecte-toi !", new_user_session_path, class:"btn home-btn"  %>
        </div>
      </div>
    </div>
  </div>
</div>
