<div class="container_home">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=image_path "homepicture.png"%>)";>
      <div class="slogan">
        <h1>Monsommelier.wine</h1>
        <p></p>
          <h2>L'expert en mariages mets et vins </h2>
        <p></p>
        <%= link_to "Inscris-toi !", new_user_registration_path, class:"btn btn-flat" %>
      </div>
  </div>
</div>
