<div class="container_home">
      <div class="upperhome mb-4">
      </div>

      <div class="slogan px-4">
        <h1>Monsommelier</h1>
        <p></p>
          <h2>L'entre-mets-eur des mariages mets et vins </h2>
        <p></p>
        <%= link_to "Inscris-toi !", new_user_registration_path, class:"btn btn-flat" %>
      </div>

      <div class="bottomhome">
      </div>
</div>
