

<div class="container">

  <%#NEW NAVBAR  %>

    <div class="topnav">
      <a href="/followers">Fil d'activités</a>
      <a href="/followers">Contacts</a>
      <%#  <a class="active" href=""><% link_to user_comments_path(current_user) , style:"text-decoration:none;color:black;"%><%#  Mon activité</a>%>
      <a href="/followers">Messagerie</a>
    </div>


      <%# render "indexcomments" %>
  <%#END NEW NAVBAR  %>
  </div>
