<div class="container">
  <% @matches.each do |match| %>
  <div class="col-sm-6 bicard">
    <%= link_to  match_path(match), style:"text-decoration:none;color:black;" do %>
      <div class="card rounded-4 shadow mb-4 ml-2" >
        <div class="card-body">
          <h4 class="card-title"><%= match.wine.nom %></h4>
          <h5 class="card-title"><%= match.dish.nom %></h5>
        </div>
      </div>
      <% end %>
  </div>
  <% end %>
</div>
