



.btn-ghost {
  color: black;
  border: 2px solid black;
  padding: 8px 24px;
  border-radius: 5px;
  font-weight: bold;

  background-color: white;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  width: 95%;
  display: block;
  margin: auto;
  margin-top: 18px;
  margin-bottom: 15px;
}

.btn-ghost:hover {
  opacity: 1;
  background-color: black;
  color: white;
}

.btn-no-design , .btn-no-design:active {
  border: 0px solid transparent;
}

.btn.btn-flat{
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: lightgray;
}

.boutons-view-vin {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boutons-liens-vin {
  text-align: center;
}

.boutons-liens-accord {
  text-align: right;
}


.btn-follow {
  color: black;
  border: 2px solid black;
  padding: 8px 24px;
  border-radius: 5px;
  font-weight: bold;

  background-color: white;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  width: 30%;
  // display: block;
  // margin: auto;
  margin-top: 10px;
  // margin-bottom: 15px;
}
