.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-no-design , .btn-no-design:active {
  border: 0px solid transparent;
}

.btn.btn-flat{
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: lightgray;
}

.boutons-view-vin {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boutons-liens-vin {
  text-align: center;
}

.boutons-liens-accord {
  text-align: right;
}
