.indexmatchcard {
  margin: 10px;
  height: 200px;
  width: 160px;
  // border: 2px solid;
  // border-right: 3px solid;
  // border-bottom: 3px solid;
  // border-top: 1.5px;
  // border-left: 1.5px;
  // border-color: black;
  background-size: cover;
  border-radius: 5px;
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}
