// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "footer";
@import "button";
@import "bookmark";
@import "tags";
@import "notes";
@import "symbols";
@import "topnav";


.search-bar {
  width: 300px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top:20px;
  position: relative;
}

.images-search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  .img {
    height: 50px;
  }
}



.form-control {
  border-radius: 10px;
}

h6 {
  color: #062C30;
}
