.modal.show .modal-dialog {
  // transform: none;
  height: 100%;
  margin: 0;
}
.modal.show .modal-content {
  background-color: white;
  /* border: var(--bs-modal-border-width) solid var(--bs-modal-border-color); */
  border-radius: 0;
  height: 80%;
  backdrop-filter: blur(40px);
  color: black;
}

.modal.show .modal-header {
  border-bottom: 1px solid transparent;
  flex-direction: row-reverse;
  align-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}

.modal-footer  {
  border-top: 0px solid transparent;
}

.modal-content {
  margin-top: 30px;
  border-radius: 10px !important;
  box-shadow: 0 0 10px;
}

.titresmodale {
  border-bottom: solid 1px;
  padding-bottom: 10px;
}
