.note-vin-show {
  border:solid 1px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-grid;
  align-items: center;
}

.note-vin {
  border:solid 1px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-grid;
  align-items: center;
  background: #337f81;
  color: white;
}


.note {
  border:solid 1px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-grid;
  align-items: center;
}

.star {
  color: #5a1f29;
  text-align: center;
}

