// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "*";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "star-rating.js/dist/star-rating.css";

// indexmatchs
.topmatchcard {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottommatchcard {
  position: absolute;
  bottom: 2px;
  left: 5px;
}

// new accord
.nouvelaccordform {
  margin: 10px;
}

.wineform{
  margin-left: 70px;
  margin-right: 50px;
}

.field {
  margin:10px;
}

.dishform{
  margin-left: 70px;
  margin-right: 50px;
}

// toujours actif?
.upper-card{
  display: flex;
  justify-content: space-between;
    .fa-bookmark{
      position: relative;
      left: 10px;
      top: 20px;
    }
}
.card-body .card-comment-user {
  position: absolute;
  right: 16px;
  top: 10px;
  width: 40px;
}

.banner{
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.container {
  padding-top: 70px;
  padding-bottom: 80px;
}

.link-match-view {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nom-vin{
  text-align: center;
  padding-top: 10px;
}

.boutons-view-vin {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boutons-liens-vin {
  text-align: center;
}

.infos-index {
  margin-top: 5px;
}

.infos-accords {
  margin-top: 10px;
}


.carousel-control-prev{
  height: 75%;
  margin-top: 30px;
}
