// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "star-rating.js/dist/star-rating.css";

.card-body .card-comment-user {
  position: absolute;
  right: 16px;
  top: 10px;
  width: 40px;
}

.container {
  padding-top: 70px;
  padding-bottom: 80px;
}

h4 {
  color: #05595B;
}

h3 {
  text-align: center;
}

.link-match-view {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nom-vin{
  text-align: center;
  padding-top: 10px;
}

.boutons-view-vin {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boutons-liens-vin {
  text-align: center;
}

.star {
  color: #337f81;
}
