<div class="background-index" >
  <div class="container">
    <div class="row m-6" data-controller="favourite">


      <div><i data-action="click->wine_index#update" data-favourite-target="checkbox" data-favourite-class-value="wine" class="fa-regular fa-square" type="checkbox" id="match"></i> Dans ma cave </div>
      <%#= ${checkbox_choice_match} %>
    <%# raise %>

      <div data-favourite-target="sortedcard">
        <%= render "index_cave", wines: @wines  %>
      </div>
  </div>
</div>
</div>
